<div class="flex justify-center">
  <div class="w-3/5">
    <!-- HEADER -->
    <div>
      <h1 class="text-white text-6xl font-extrabold my-20">
        Cafeteria Lunch System
      </h1>
    </div>

    <!-- TRAINEE FORM -->
    <div class="grid grid-cols-2 gap-10">
      <div>
        <form
          action=""
          class="grid grid-flow-row gap-10 bg-white rounded-md p-5"
        >
          <h2 class="text-3xl font-bold">Trainee Information Form</h2>
          <label for="">First Name:</label>
          <input type="text" />
          <label for="">Last Name:</label>
          <input type="text" />

          <app-button></app-button>
        </form>
      </div>

      <!-- ORDER FORM -->
      <div class="grid grid-flow-row gap-10 bg-white rounded-md p-5">
        <h2 class="text-3xl font-bold">Order Information Form</h2>
        <form action="">
          <label for=""></label>
          <input type="text" />
          <app-button></app-button>
        </form>
      </div>
    </div>
  </div>
</div>
